
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h4> Design Stage - Detail Design</h4>

           <p>This stage begins with the deliverables from Embodiment Design stage and ends with these deliverables: </p>
            <ol>
         <li> A more concrete and finalised list of requirements
         <li> A list of possible optimised solution configurations for the chosen embodiment from ED </li>
         <li> An evaluation of these configurations for their suitability to satisfy the requirements. </li>
         <li>Specification of the optimised configuration selected as the final design ready for implementation/manufacturing.</li>
         </ol>

     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}