
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h3> Design Stage - Conceptual Design</h3>
          <h3> Activity - Evaluate, Select</h3>


         <p>Evaluate these ideas to select the most promising ones (ES/SS) : which of these ideas are feasible? What ones will have greater effect?</p>


     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}