
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h3> Design Stage - Conceptual Design</h3>
          <h3> Design Stage - Evaulate, Select, Modify (ES/MS)</h3>


         <p> Evaluate these alternatives to select the most promising solution principle (ES/MS):
             Which of the combinations best satisfy the requirements? Which of these is the most feasible? </p>


     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}