
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h4> Design Stage - Conceptual Design</h4>
          <h4> Activity - Generate, Select, Modify (GS/MS)</h4>
          <p>Integrate these ideas to generate alternative solution principles (GS/MS): What are the possible combinations of these ideas to develop complete solutions to the problem?
             Are there additional elements needed to put these together? </p>



     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}