
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h3> Design Stage - Conceptual Design</h3>
          <h3> Activity -  Generate, Select</h3>


         <p>Generate alternative ideas to satisfy each major requirement (GS): How can this requirement be satisfied? What are the other ways it can be satisfied?</p>


     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}