
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h3> Design Stage - Conceptual Design</h3>

         <br>
         <p>This stage begins with the deliverables from Task Clarification stage and ends with these deliverables: </p>

         <ol>
         <li> A more concrete list of requirements </li>
         <li> A list of possible solution principles that could be used to solve the problem (i.e. satisfy these requirements)</li>
         <li> An evaluation of these principles for their suitability to satisfy these requirements</li>
         <li> The principle selected as the most promising for further development.
             </ol>

     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}