
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h4> Design Stage - Task Clarification</h4>
          <h4> Activity -  Select</h4>


<p>  Decide on a list of requirements and their relative importance for use the subsequent stages (SR): What requirements are really important to keep? How important are these relative to one another? Can these be quantified?</p>



     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}