
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
                   <h4> Design Stage - Task Clarification</h4>
          <h4> Activity -  Generate, Modify</h4>


         <p>Evaluate the issues to find the important ones to address (ER/MR): How important is each issue? Can the issue be refined? What requirements can be used to represent each issue?  </p>




     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}