<html>


<div class="row">

    <div class="row">

        <div class="col-md-8">

            <p> Analyse the current situation to identify issues: What are the current systems in this area ? </p>
            <p> What are their lifecycles? Where in these lifecycles are major issues (Sustainability and otherwise)?
                Materials? Manufacturing? etc.</p>
        </div>

    </div>

    <div class="col-lg-3">
        <h3> Life Cycle Phases </h3>
        {% if lc_phase %}
            <textarea rows="10" cols="30" id="lc_phase">
    {{ lc_phase }}
   </textarea>
          {% else %}

            <textarea rows="10" cols="30" id="lc_phase">

   </textarea>

        {% endif %}
    </div>
    <div class="col-lg-3">
        <h3> Current Systems</h3>
        {% if current_systems %}
        <textarea rows="10" cols="30" id="current_systems">
            {{ current_systems }}
        </textarea>
        {% else %}
        <textarea rows="10" cols="30" id="current_systems">

        </textarea>
        {% endif %}


    </div>
    <div class="col-lg-3">
        <h3> Issues </h3>
        {% if issues %}
        <textarea rows="10" cols="30" id="issues">
            {{ issues }}
        </textarea>
        {% else %}
        <textarea rows="10" cols="30" id="issues">

        </textarea>

        {% endif %}

    </div>
    <div class="col-lg-3">

        <h3> Requirements </h3>
        {% if requirements %}
        <textarea rows="10" cols="30" id="requirements">
        {{ requirements }}
        </textarea>
        {% else %}

        <textarea rows="10" cols="30" id="requirements">

        </textarea>

        {% endif %}
    </div>

    <br/>

    <div class="row">


        <div class="col-sm-10">

            <button type="button" class="btn btn-info" id="save_generate_requirements" data-step="2" style="right-align;background:#ff9933"> Save Changes
            </button>

        </div>

    </div>

</html>