<html>


<div class="row">
<div class="col-md-12">
<div class="row">
     <div class="col-md-11">
          <h4> Generate Requirements</h4>
{#         <h4> Design Stage - Task Clarification</h4>#}


             <p> Analyse the current situation to identify issues: What are the current systems in this area ? </p>
            <p> What are their lifecycles? Where in these lifecycles are major issues (Sustainability and otherwise)?
                Materials? Manufacturing? etc.</p>
     </div>
    </div>




    <div class="col-lg-3">
        <h4> Life Cycle Phases </h4>
        {% if lc_phase %}
            <textarea rows="10" cols="30" id="lc_phase">
    {{ lc_phase }}
   </textarea>
          {% else %}

            <textarea rows="10" cols="30" id="lc_phase">

   </textarea>

        {% endif %}
    </div>
    <div class="col-lg-3">
        <h4> Current Systems</h4>
        {% if current_systems %}
        <textarea rows="10" cols="30" id="current_systems">
            {{ current_systems }}
        </textarea>
        {% else %}
        <textarea rows="10" cols="30" id="current_systems">

        </textarea>
        {% endif %}


    </div>
    <div class="col-lg-3">
        <h4> Issues </h4>
        {% if issues %}
        <textarea rows="10" cols="30" id="issues">
            {{ issues }}
        </textarea>
        {% else %}
        <textarea rows="10" cols="30" id="issues">

        </textarea>

        {% endif %}

    </div>
    <div class="col-lg-3">

        <h4> Requirements </h4>
        {% if requirements %}
        <textarea rows="10" cols="30" id="requirements">
        {{ requirements }}
        </textarea>
        {% else %}

        <textarea rows="10" cols="30" id="requirements">

        </textarea>

        {% endif %}
    </div>

    <br/>
    {% if not display_only %}
    <div class="row">

        <div class="col-lg-11 pull-right">

            <button type="button" class="btn btn-info pull-right" id="save_generate_requirements" style = "background-color: #ff9933" data-step="2"> Save Changes
            </button>

        </div>

    </div>
    {% endif %}
    </div>
    </div>

</html>