<html>


<div class="row">

    <div class="row">

        <div class="col-md-8">

            <p> Analyse the current situation to identify issues: What are the current systems in this area ? </p>
            <p> What are their lifecycles? Where in these lifecycles are major issues (Sustainability and otherwise)?
                Materials? Manufacturing? etc.</p>
            </div>

    </div>

    <div class="col-lg-3">
    <h3> Life Cycle Phases </h3>
<textarea rows="10" cols="30">
    .
   </textarea>

    </div>
    <div class="col-lg-3">
        <h3> Current Systems</h3>
<textarea rows="10" cols="30">
    .
   </textarea>


    </div>
    <div class="col-lg-3">
        <h3> Issues </h3>
<textarea rows="10" cols="30">
    .
   </textarea>


    </div>
    <div class="col-lg-3">

    <h3> Requirements </h3>
<textarea rows="10" cols="30">
    .
   </textarea>

    </div>


</div>

</html>