
{% load static %}
{% block stylesheets %}
<style>



    </style>
{% endblock %}



   <div class="panel panel-default">
  <div class="panel-heading">{{ method.name }}</div>
  <div class="panel-body">

            <p><strong>Name </strong>: {{ method.name}}</p><br />
            <p><strong>Stage </strong>: {{ method.stage}}</p><br />
            <p><strong>LC Phase </strong>: {{ method.lcp}}</p><br />
            <p><strong>Activity</strong>: {{ method.activity}}</p><br />

  </div>
        <div class="panel-footer">

               <button type="button" class="btn btn-primary" style="background-color:#ff9933;" id="method_more_info" data-method="{{ method.name }}" > More Info </button>
        </div>
</div>






<!-- Modal 2 -->
<div class="modal fade" id="addContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

{% block scripts %}

    <!-- Initialize the plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {

            $("#method_more_info").click(function () {


                console.log($(this).data("method"));

                var url = '/methods_detail/';
                var data = {'method': $(this).data("method") };
                var method = $(this).data("method");
                $.ajax({
                    url: url,
                    crossDomain: true,
                    type: 'GET',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    dataType: 'json',
                    data: data,
                    beforeSend: function(jqXHR, settings) {

                    },
                    success: function(data, textStatus, jqXHR) {
                        $(".modal-title").html(method);
                        $(".modal-body").html(data['html']);
                        $('#addContact').modal('show');
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log("Failed");
                    },
                    complete: function(jqXHR, textStatus) {
                        console.log("Completed")

                    }
                });


            });

        });
{% endblock %}