
{% load static %}
{% block stylesheets %}

<link rel="stylesheet" src={% static 'css/bootstrap-multiselect.css' %} type="text/css"/>
<link rel="stylesheet" src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' type="text/css"/>

{% endblock %}
<div class="row">


    <div class="row">

        <div class="col-md-8">

            <p> LC Phase selection</p>
        </div>

    </div>

</div>


{% block scripts %}


<script>
    $(document).ready(function(){


});

</script>


{% endblock %}