
{% load static %}
{% block stylesheets %}


<link rel="stylesheet" src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' type="text/css"/>
<style>

    </style>
{% endblock %}
<div class="row">
       <div class="col-md-11">

    <div class="row">

        <div class="col-md-8">

            <h4> Select Sustainability Indicators</h4>
            <p> The chosen sustainability definitions/principles filters the respective sustainability indicators.</p>
        </div>

    </div>

           <div class="col-lg-11 rcorners2">


                    <div class="row">
                        <div class="col-lg-11">
                            <div class="btn-group " role="group" aria-label="...">
                                         {% for type in types %}

                                                        <button type="button" class="btn btn-info type pull-right" style = "background-color: #ff9933;" data-type='{{ type }}' data-tbl='{{ tbl_scope }}' >{{ type }}</button>



                                             {% endfor %}
                            </div>

                        </div>
                        <hr>

                     </div>
        </div>

    <div class="row">

            <div class="col-lg-6">
                    <div id="indicators_list">

                    </div>
            </div>

         <div class="col-lg-6" id="indicator_content">

                        <h4>Click on any of the indicators to know more.</h4>
         </div>


    </div>
   <div class="row">

            <div class="col-lg-offset-9 col-lg-3">

                <button type="button" style="background-color: #336666;" class="btn btn-info" id="save_sustainability_indicators" data-step="4"> Save Changes </button>

            </div>


    </div>

        </div>
    </div>
    </div>


{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript">

  $(document).ready(function() {

            $("#clickable-row").click(function() {

                console.log($(this).data("name"));

                  var url = '/indicators_info/';
                  data = {'name': $(this).data("name")};

                    $.ajax({
                        url: url,
                        crossDomain: true,
                        type: 'GET',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        dataType: 'json',
                        data: data,
                        beforeSend: function(jqXHR, settings) {

                        },
                        success: function(data, textStatus, jqXHR) {
                          console.log("Success", data);

                            $("#indicator_content").html(data["html"]);

                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log("Failed");
                        },
                        complete: function(jqXHR, textStatus) {
                            console.log("Completed")

                        }
                    });

            });

            $(".type").click(function() {

                console.log($(this).data("type"));
                console.log($(this).data("tbl"));

                  var url = '/indicators_list/';
                  data = {'type': $(this).data("type"), 'tbl_scope': $(this).data("tbl") };

                    $.ajax({
                        url: url,
                        crossDomain: true,
                        type: 'GET',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        dataType: 'json',
                        data: data,
                        beforeSend: function(jqXHR, settings) {

                        },
                        success: function(data, textStatus, jqXHR) {
                          console.log("Success", data);

                            $("#indicators_list").html(data["html"]);

{#                            $('#indicators_table').DataTable();#}

                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log("Failed");
                        },
                        complete: function(jqXHR, textStatus) {
                            console.log("Completed")

                        }
                    });

            });

            });





</script>


{% endblock %}