
{% load static %}
{% block stylesheets %}
    <style>
    #rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}
    </style>

{% endblock %}
<div class="row">

       <div class="col-md-11">
    <div class="row">

        <div class="col-md-11">
                <h3> Select Sustainability Definitions</h3>
                 <p> What is the guiding sustainability definition used in this work ?</p>
        </div>

    </div>

    <div class="col-lg-11 rcorners2">


        <div class="row">

                    <!-- Iterate over names and show information of selected names -->
             <div class="col-lg-5">

                <table class="table table-bordered" id="definitions_table">
                   <thead>
                    <tr>
                                   <tr>
                   <th></th> <th>Definitions</th>
                  </tr>
                   </thead>
                  <tbody>


                        {% for name in names %}
                              <tr class="clickable-row" id="{{ name }}" data-name="{{ name }}">
                     <td> <input type="checkbox" class="clickable-checkbox" data-name="{{ name }}" name="type"/></td> <td >{{ name }}</td>
                  </tr>

                        {% endfor %}


                </tbody>

                </table>

            </div>

                     <div class="col-lg-7" id="definition_content">

                        <h3>Click on any of the definitions to know more.</h3>
                    </div>

        </div>

        <div class="row">
            <div class="col-lg-offset-9 col-lg-3">
                <button type="button" class="btn btn-info" id="save_sustainability_definitions" data-step="3"> Save Changes </button>

            </div>
            </div>


    </div>
</div>

{% block scripts %}



    <!-- Initialize the plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {


            $(".clickable-row").click(function() {
                console.log($(this).data("name"));

                  var url = '/definitions_info/';
                  data = {'name': $(this).data("name")};

                    $.ajax({
                        url: url,
                        crossDomain: true,
                        type: 'GET',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        dataType: 'json',
                        data: data,
                        beforeSend: function(jqXHR, settings) {

                        },
                        success: function(data, textStatus, jqXHR) {
                          console.log("Success", data);

                            $("#definition_content").html(data["html"]);

                         $('#definitions_table').DataTable();


                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log("Failed");
                        },
                        complete: function(jqXHR, textStatus) {
                            console.log("Completed")

                        }
                    });



    });

        });
    </script>



{% endblock %}