
{% load static %}
{% block stylesheets %}
    <style>
    #rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}
    </style>
<link rel="stylesheet" src={% static 'css/bootstrap-multiselect.css' %} type="text/css"/>
<link rel="stylesheet" src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' type="text/css"/>

{% endblock %}
<div class="row">


    <div class="row">

        <div class="col-md-8">

            <p> The chosen sustainability definitions/principles filters the respective sustainability indicators.</p>
        </div>

    </div>

    <div class="col-lg-11 rcorners2">
        <div class="row">
            <div class="col-lg-8">
                <h3> Select Sustainability Indicators</h3>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <table class="table table-bordered display" id="indicators_table" >
   <thead>
    <tr>
                   <tr>
   <th></th> <th>Indicators</th>
  </tr>
   </thead>
  <tbody>


        {% for indicator in indicators %}
              <tr class="clickable-row" id="{{ indicator.indicator }}" data-name="{{ indicator.indicator }}">
     <td> <input type="checkbox" /></td> <td >{{ indicator.indicator }}</td>
  </tr>

        {% endfor %}


</tbody>
</table>
                </div>

         <div class="col-lg-6" id="indicator_content">

                        <h3>Click on any of the indicators to know more.</h3>
                    </div>


            </div>
        </div>
    </div>


{% block scripts %}


<script>
    $(document).ready(function(){

            $('#indicators_table').DataTable();

            $(".clickable-row").click(function() {

                console.log($(this).data("name"));

                  var url = '/indicators_info/';
                  data = {'name': $(this).data("name")};

                    $.ajax({
                        url: url,
                        crossDomain: true,
                        type: 'GET',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        dataType: 'json',
                        data: data,
                        beforeSend: function(jqXHR, settings) {

                        },
                        success: function(data, textStatus, jqXHR) {
                          console.log("Success", data);

                            $("#indicator_content").html(data["html"]);



                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log("Failed");
                        },
                        complete: function(jqXHR, textStatus) {
                            console.log("Completed")

                        }
                    });

            });


});

</script>


{% endblock %}