</html>



</html>

{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h4> Select System Boundary</h4>
         <h4> Design Stage - Task Clarification</h4>

          <p>(SSB): Analyse the problem brief to ask these questions. What is allowed to be changed? What is not allowed? </p>

     </div>
    </div>
 <div class="col-md-6">
    <h4> Changes allowed </h4>
     {% if changes_allowed %}
<textarea rows="10" cols="30" id="changes_allowed" value="{{ changes_allowed }}">
    {{ changes_allowed }}
   </textarea>
    {% else %}

<textarea rows="10" cols="30" id="changes_allowed" >
    .
   </textarea>

     {% endif %}
    </div>
    <div class="col-md-6">
        <h4> Changes not allowed</h4>
        {% if changes_not_allowed %}
<textarea rows="10" cols="30" id="changes_not_allowed" value="{{ changes_not_allowed }}">
    {{ changes_not_allowed }}
   </textarea>

        {% else %}
<textarea rows="10" cols="30" id="changes_not_allowed" >

   </textarea>
    {% endif %}

    </div>

</div>
<br/>
{% if not display_only %}
    <div class="row">
            <div class="col-md-11">
                <button type="button" class="btn btn-info" id="save_system_boundary" data-step="1" style = "color: #336666"> Save Changes </button>
            </div>
    </div>
{% endif %}
</div>

{% block scripts %}




{% endblock %}