</html>



</html>

{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">


 <div class="col-lg-6">
    <h3> Changes allowed </h3>
     {% if changes_allowed %}
<textarea rows="10" cols="30" id="changes_allowed" value="{{ changes_allowed }}">
    {{ changes_allowed }}
   </textarea>
    {% else %}

<textarea rows="10" cols="30" id="changes_allowed" >
    .
   </textarea>

     {% endif %}
    </div>
    <div class="col-lg-6">
        <h3> Changes not allowed</h3>
        {% if changes_not_allowed %}
<textarea rows="10" cols="30" id="changes_not_allowed" value="{{ changes_not_allowed }}">
    {{ changes_not_allowed }}
   </textarea>

        {% else %}
<textarea rows="10" cols="30" id="changes_not_allowed" >

   </textarea>
    {% endif %}

    </div>

</div>
<br/>
<div class="row">

<div class="col-md-3">

    <button type="button" class="btn btn-info" id="save_system_boundary" style="background:#ff9933" data-step="1"> Save Changes </button>

</div>
</div>

{% block scripts %}




{% endblock %}