{% load static %}
<style>
.navbar #nav > .active > a {
    color: red;
}
</style>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/instructions">InDeaTe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <!-- <li><a href="/instructions">Home</a></li>-->
                 <li><a href="/terminology">About</a></li>
                <li><a href="/design">Design</a></li>
                <li><a href="/data">Data</a></li>
                <li><a href="/contribute">Contribute</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                     <!-- <li><a href="#">Settings</a></li>#}-->
                        <li><a href="/logout/">Logout</a></li>
<li><a href="http://www.cpdm.iisc.ernet.in/ideaslab/">IDeaS Lab</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Reset Options</li>
                        <li><a href="#" id="soft_reset">Soft Reset</a></li>
                        <li><a href="#" id="hard_reset">Hard Reset</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(function(){
   $("#nav li a").click(function(){

       $($(this).attr('href')).css("background-color","yellow");
   });
});


   $("#soft_reset").click(function() {

       confirm("You are about to reset your progress ?");

       var url = '/reset/';

                    $.ajax({
                        url: url,
                        crossDomain: true,
                        type: 'GET',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        dataType: 'json',
                        data: {},
                        beforeSend: function(jqXHR, settings) {

                        },
                        success: function(data, textStatus, jqXHR) {
                          console.log("Success", data);

                            if(data['success'] == 'True')
                            {
                                Messenger().post({
  message: "Data Reset",
  type: "info"
})

                                window.location.replace("/design/");
                            }
                            else{
                                Messenger().post({
  message: data["message"],
  type: "error"
})
                            }

                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log("Failed");
                        },
                        complete: function(jqXHR, textStatus) {
                            console.log("Completed")

                        }
                    });

   });

   $("#hard_reset").click(function() {

       confirm("You are about to reset your progress along with data. This cannot be reverted back ?");

       var url = '/hard_reset/';

                    $.ajax({
                        url: url,
                        crossDomain: true,
                        type: 'GET',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        dataType: 'json',
                        data: {},
                        beforeSend: function(jqXHR, settings) {

                        },
                        success: function(data, textStatus, jqXHR) {
                          console.log("Success", data);

                            if(data['success'] == 'True')
                            {
                                Messenger().post({
  message: "Data Reset",
  type: "info"
})

                                window.location.replace("/design/");
                            }
                            else{
                                Messenger().post({
  message: data["message"],
  type: "error"
})
                            }

                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log("Failed");
                        },
                        complete: function(jqXHR, textStatus) {
                            console.log("Completed")

                        }
                    });

   });



</script>
