{% extends "base.html" %}
{% load static %}
{% block title %}Data{% endblock %}
{% block stylesheets %}


    <style>
    .row{
            min-height:30px;
             background-color: #E5E4DF;
            }
.top_head
{background-color: #E5E4DF;
            min-height:60px;
            }
                    .form
            {
           min-height:30px;
            background-color: #ff9933;

            }
            .top{
          background-color: #E5E4DF;
            min-height:100px;

            }
#myImg:hover {opacity: 0.7;}

            /* The Modal (background) */
             .modal {
                     display: none; /* Hidden by default */
                     position: fixed; /* Stay in place */
                    z-index: 2500; /* Sit on top */
                     padding-top: 100px; /* Location of the box */
                    left: 0;
                     top: 0;
                     width: 100%; /* Full width */
                     height: 100%; /* Full height */
                     overflow: auto; /* Enable scroll if needed */
                      background-color: rgb(0,0,0); /* Fallback color */
                     background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
             }

            /* Modal Content (image) */
            .modal-content {
                       margin: auto;
                      display: block;
                      width: 80%;
                      max-width: 700px;
            }

            /* Caption of Modal Image */
            #caption {
                     margin: auto;
                     display: block;
                    width: 80%;
                    max-width: 700px;
                     text-align: center;
                  color: #ccc;
                padding: 10px 0;
                    height: 150px;
            }

            /* Add Animation */
            .modal-content, #caption {
                     -webkit-animation-name: zoom;
                    -webkit-animation-duration: 0.6s;
                     animation-name: zoom;
                     animation-duration: 0.6s;
            }

            @-webkit-keyframes zoom {
                 from {-webkit-transform:scale(0)}
                 to {-webkit-transform:scale(1)}
            }

            @keyframes zoom {
                 from {transform:scale(0)}
                 to {transform:scale(1)}
            }

            /* The Close Button */
            .close {
                 position: absolute;
                 top: 15px;
                right: 35px;
                color: #f1f1f1;
                 font-size: 40px;
                 font-weight: bold;
                 transition: 0.3s;

            }

            .close:hover,
            .close:focus {
                 color: #bbb;
                  text-decoration: none;
                  cursor: pointer;
            }

            /* 100% Image Width on Smaller Screens */
            @media only screen and (max-width: 700px){
                 .modal-content {
                  width: 100%;
             }
            }
    </style>

{% endblock %}
{% block content %}


<div class="container">
                <div class="form">
                    <div class="col-lg-3">

                        <p> <h6>Problem Type : {{ problem_type }}</h6> </p>

                    </div>

                    <div class="col-lg-3">

                        <p> <h6> Triple Bottom Line : {{ tbl_scope }}</h6> </p>

                    </div>

                    <div class="col-lg-3">

                        <p> <h6> Domain : {{ domain }}</h6> </p>

                    </div>

                </div>
                <div class="col-lg-12">
    <div class="row">
        <div class=for-buttons">
            <div class="col-md-12">


                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <span class="close">×</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>





       <div class= "heading">
<div class="row">
  <div class="col-sm-3" align="right">|-------Task Clarification-------| </div>
  <div class="col-sm-2"> |--Conceptual Design----|</div>
<div class="col-sm-3" align="left">|-------Embodiment Design-------------|</div>
</div>
  <div class= "top">

                    <img id="myImg" src='{% static 'frontend/GEMS.jpg' %}' alt="GEMS" align="right" width="150" height="130">
                    <p>
                        <a href="#" class="btn btn-sq btn-info" style="background:#336666;margin-left:50px;margin-top:15px;" id="btn_1_big" >1</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_2">2</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;"id="btn_3">3</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;"id="btn_4">4</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;"id="btn_5">5</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;"id="btn_6" >6</a>
          <a href="#" class="btn btn-sq btn-info" style="background:#336666;margin-top:15px;" id="btn_7_big">7</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_8" >8</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_9">9</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_10">10</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_11">11</a>
          <a href="#" class="btn btn-sq btn-info" style="background:#336666;margin-top:15px;" id="btn_12">12</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_13">13</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_14">14</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_15">15</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_16">16</a>
          <a href="#" class="btn btn-sq btn-info" style="background:#336666;margin-top:15px;" ><i class="fa fa-5x"></i>18 </a>

            </div>
</div>
            <div class="col-md-11">
                <div class="row">
                    <div id="data_content">
                    </div>
                </div>



                </div>


            </div>


        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    {#<script type="text/javascript" src={% static 'frontend/js/frontend.js' %}></script>#}
    <script type="text/javascript" src={% static 'frontend/js/data.js' %}></script>
    <script type="text/javascript" src={% static 'frontend/js/hover.js' %}></script>


{% endblock scripts %}


