{% extends "base.html" %}
{% load static %}
{% block title %}Design Methods{% endblock %}
{% block stylesheets %}
 <link rel="stylesheet" src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css' type="text/css"/>


    <style>
    #for-buttons {
            position:relative;
            float:right;

            }

 #container {
    position:relative;
    float:right;

    background-color: red;
}
            #myImg{
                    border-radius: 5px;
                    cursor: pointer;
                   top: 80px;
                    right: 0;

           }
            .row{
            min-height:30px;
             background-color: #E5E4DF;
            }
.top_head
{background-color: #E5E4DF;
            min-height:60px;
            }
                    .form
            {
           min-height:30px;
            background-color: #ff9933;

            }
            .top{
          background-color: #E5E4DF;
            min-height:100px;

            }

            #myImg:hover {opacity: 0.7;}

            /* The Modal (background) */
             .modal {
                     display: none; /* Hidden by default */
                     position: fixed; /* Stay in place */
                    z-index: 2500; /* Sit on top */
                     padding-top: 100px; /* Location of the box */
                    left: 0;
                     top: 0;
                     width: 100%; /* Full width */
                     height: 100%; /* Full height */
                     overflow: auto; /* Enable scroll if needed */
                      background-color: rgb(0,0,0); /* Fallback color */
                     background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
             }

            /* Modal Content (image) */
            .modal-content {
                       margin: auto;
                      display: block;
                      width: 80%;
                      max-width: 700px;
            }

            /* Caption of Modal Image */
            #caption {
                     margin: auto;
                     display: block;
                    width: 80%;
                    max-width: 700px;
                     text-align: center;
                  color: #ccc;
                padding: 10px 0;
                    height: 150px;
            }

            /* Add Animation */
            .modal-content, #caption {
                     -webkit-animation-name: zoom;
                    -webkit-animation-duration: 0.6s;
                     animation-name: zoom;
                     animation-duration: 0.6s;
            }

            @-webkit-keyframes zoom {
                 from {-webkit-transform:scale(0)}
                 to {-webkit-transform:scale(1)}
            }

            @keyframes zoom {
                 from {transform:scale(0)}
                 to {transform:scale(1)}
            }

            /* The Close Button */
            .close {
                 position: absolute;
                 top: 15px;
                right: 35px;
                color: #f1f1f1;
                 font-size: 40px;
                 font-weight: bold;
                 transition: 0.3s;

            }

            .close:hover,
            .close:focus {
                 color: #bbb;
                  text-decoration: none;
                  cursor: pointer;
            }

            /* 100% Image Width on Smaller Screens */
            @media only screen and (max-width: 700px){
                 .modal-content {
                  width: 100%;
             }
            }


            .list-icons i {
                display: inline-block;
                text-align: center;
                }
            .icon {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                 font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                 -moz-osx-font-smoothing: grayscale;
                }
            user agent stylesheet
            i, cite, em, var, address, dfn {
                 font-style: italic;
                }
            Inherited from dt
            .list-features dt {
              font-size: 24px;
                font-size: 2.4rem;
                 border-top: 1px solid #CFE3DC;
                 padding-top: 25px;
                }
                dl dt {
                font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
                font-weight: 400;
                }
        .btn-circle {
              width: 50px;
              height: 50px;
             text-align: center;
                 padding: 15px 0;
                font-size: 12px;
             line-height: 1.428571429;
             border-radius: 20px;
            }
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
 btn.btn-primary {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}
        .btn-sq-lg {
            width: 50px !important;
            height: 50px !important;
        }

        .btn-sq {
            width: 40px !important;
            height: 40px !important;
            font-size: 10px;

        }

        .btn-sq-sm {
            width: 20px !important;
            height: 20px !important;
            font-size: 10px;

        }

        .btn-sq-xs {
            width: 15px !important;
            height: 15px !important;
            padding: 2px;

        }

    </style>

{% endblock %}
{% block content %}


<div class="container">
<div class="form bg-danger">
    <div class="col-lg-3">

    <p> <h6>Problem Type : {{ problem_type }}</h6> </p>

    </div>

<div class="col-lg-3">

    <p> <h6> Triple Bottom Line  : {{ tbl_scope }}</h6> </p>

    </div>

    <div class="col-lg-3">

    <p> <h6> Domain : {{ domain }}</h6> </p>

    </div>

    </div >

        <div class="row">
            <div class=for-buttons">
                <div class="col-md-12">




            <!-- The Modal -->
                <div id="myModal" class="modal">
                <span class="close">×</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
                </div>


       <div class= "heading">
<div class="row" style="margin-left:40px;">
  <div class="col-sm-4 "  align="right" style="margin-top:25px;">|--------------Task Clarification-----------| </div>
  <div class="col-sm-2" style="margin-top:25px;margin-left:10px;">|---Conceptual Design--|</div>
  <div class="col-sm-4" align="left" style="margin-top:25px;margin-left:24px;">|--------Embodiment Design---------|</div>
</div>
  <div class= "top">
  <img id="myImg" src='{% static 'frontend/GEMS.jpg' %}'  alt="GEMS" align="right" width="180" hspace="20" height="120" style="border:1px solid #336666" >

          <!--<a href="#" class="btn btn-default btn-circle " id="btn_0" ></a>-->
         <img src='{% static 'frontend/GEMS_2.png' %}' align="left" width="80" height="80" hspace="20"  id="gems" data-name="gems"  >
          <a href="#" class="btn btn-sq btn-info" style="background:#336666;margin-left:35px;margin-top:15px;" id="btn_1_big" >1</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_2">2</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;"id="btn_3">3</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;"id="btn_4">4</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;"id="btn_5">5</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;"id="btn_6" >6</a>
          <a href="#" class="btn btn-sq btn-info" style="background:#336666;margin-top:15px;" id="btn_7_big">7</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_7" >8</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_8">9</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_9">10</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_10">11</a>
          <a href="#" class="btn btn-sq btn-info" style="background:#336666;margin-top:15px;" id="btn_11">12</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" id="btn_12">13</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" >14</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" >15</a>
          <a href="#" class="btn btn-primary" style="background:#336666;margin-top:15px;" >16</a>
          <a href="#" class="btn btn-sq btn-info" style="background:#336666;margin-top:15px;" ><i class="fa fa-5x" style="text-align:left; padding-top: 1px;"></i>17 </a>
            <a href="#" id="next_step" onclick="next_steps('{{ domain }}','{{ tbl_scope }}', '{{ problem_type }}', '{{ current_step }}')">
                <span  class="glyphicon glyphicon-menu-right  "  style="font-size:1.9em;margin-top=50px;" >  </span> </a>

      <div class="top_head">
  <div class="col-xs-3 col-xs-offset-1" >SSB GR SDPI E/MR SR </div>
  <div class="col-xs-3">GS E/SS G/MS E/SS </div>
  <!--<div class="col-sm-3"> |-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Embodiment Design-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;|</div>
          <div class="col-sm-3"> |-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Embodiment Design-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;|</div>-->
</div>


                </div>
</div>
            <div class="col-md-1">

                <div class="along-side">
                   <dl class="list-icons">

                    <img src='{% static 'frontend/MATERIAL.png' %}' align="right" width="60" height="60" vspace="10" id="material" data-name="Material" onclick="lc_phase('{{ domain }}','{{ tbl_scope }}', '{{ problem_type }}', 'Material')"><i class="icon"></i>
                       <img src='{% static 'frontend/MANUFACTURING.png' %}' align="right" width="60" height="60" vspace="10"id="production" data-name="Production" onclick="lc_phase('{{ domain }}','{{ tbl_scope }}', '{{ problem_type }}', 'Production')"><i class="icon"></i>
                     <img src='{% static 'frontend/TRANSPORT.png' %}' align="right" width="60" height="60" vspace="10" id="assembly" data-name="Assembly" onclick="lc_phase('{{ domain }}','{{ tbl_scope }}', '{{ problem_type }}', 'Assembly')"><i class="icon"></i>
                     <img src='{% static 'frontend/USE.png' %}' align="right" width="60" height="60" vspace="10" id="use" data-name="Use" onclick="lc_phase('{{ domain }}','{{ tbl_scope }}', '{{ problem_type }}', 'Use')"><i class="icon"></i>
                     <img src='{% static 'frontend/DISPOSAL.png' %}' align="right" width="60" height="60" vspace="10" id="after_use" data-name="After use" onclick="lc_phase('{{ domain }}','{{ tbl_scope }}', '{{ problem_type }}', 'After Use')"><i class="icon"></i>

        </dl>
                </div>
            </div>


            <div class="col-md-11">
                <div class="row">

                    {% if current_step %}
                    <h4 id="step_info" vspace = "10"> Step:{{current_step }} </h4>
                    {% else %}
                        <h4 id="step_info"> </h4> | <h4 id="step_name"> </h4>
                    {% endif %}

                {% if rendered_content %}
                        {{ rendered_content }}
                {% endif %}

                </div>



                <div id="content">
                    {% if initial_content %}
                    <h4> Design Stage - Task Clarification </h4>

                    <p> This stage begins with the problem brief, and ends with these deliverables:</p>
                    <ol>
                    <li> A list of requirements, often qualitative with some understanding of their relative importance, often qualitative;</li>
                    <li> Some ideas of how to solve the design problem, noted down for further use.</li>
                        </ol>
                    {% endif %}
                </div>



            </div>

        </div>

    </div>
    </div>
    </div>
{% endblock %}
{% block scripts%}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript" src={% static 'frontend/js/frontend.js' %}></script>
<script type="text/javascript" src={% static 'frontend/js/hover.js' %}></script>


{% endblock scripts %}


