{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
    <style>
        /* ------------------- Carousel Styling ------------------- */

        .carousel-inner {
            border-radius: 15px;
        }

        .carousel-caption {
            background-color: #336699;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            padding: 0 0 10px 25px;
            color: #336699;
            text-align: left;
        }

        .carousel-indicators {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            z-index: 15;
            margin: 0;
            padding: 0 25px 25px 0;
            text-align: right;
        }

        .carousel-control.left,
        .carousel-control.right {
            background-image: none;
        }


    </style>
{% endblock %}

{% block content %}


    <div class="container">

    <div class="row">

        <div class="col-md-offset-3 col-md-6">
            <h2>Concepts of Design and Sustainability </h2>
        </div>
    </div>
    <hr>
    <div class="row">

        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" >
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-offset-2 col-md-8 text-center">

                            <div class="panel" style="border-color:#336666">
                                <div class="panel-heading" style ="color: #336666; background-color: #ff9933; border-color: #336666;"><h4>Instructions</h4></div>
                                <div class="panel-body" style="text-align : left;">
                                    <p>    How to navigate through the design process?<br>
The Orange squares in the top panel are to be used for navigating through the design process. Clicking on the first big square from the left initiates the design process, whereas each subsequent big square represents the end of a design stage. The smaller squares in between represent the steps to be followed within a design stage. Click on the next square to proceed to the next step. The square you click on will be highlighted in green, thus indicating your progress in the design process.

<br><br>
How to select the definition of Sustainability?<br>
As you progress in Task Clarification to the ‘SDPI’’ step, you will see a shortlisted list of definitions based on the selected TBL scope and domain, if any. Select the one most relevant for your problem and click save.
<br><br>

How to select the indicators of Sustainability?<br>
As you progress in Task Clarification to the ‘SDPI’’ step, you will see a shortlisted list of indicators based on the selected TBL scope, the type (depending on the TBL scope) and domain, if any. Select the indicators one by one and click the ‘>’ button to save them into the selection list to the right. You may even remove a selected indicator by clicking the ‘<’ button.
<br><br>

How to select the methods for each step?<br>
After the ‘SDPI’ step in Task Clarification, the user interface of the tool will remain the same until the end of design process. For each of these steps, the methods will be shortlisted based on your selected Problem type, Domain (if any), TBL scope and Life Cycle phase. You don’t need to choose the Stage of Design or the Activity, since they will be applied depending on the step. The applicable Activities for each step will be highlighted on the left. If on proceeding to the next step the list of methods appears to be blank, click on one of the Life Cycle phase buttons to display it. Select the method most suitable for your task based on its details shown in the panel towards the right side of the list.
<br><br>

How to refer to the selected definition and indicators of Sustainability?<br>
Click on the ‘Data’ button at the top of the window. To go back to designing, click on the ‘Design’ button at sthe top of the window.
<br> </p>

                                </div>
                            </div>

                        </div>






                    <!-- /header-text -->
                </div>
                    </div>
<div class="item">

                    <div class="col-md-offset-2 col-md-8 text-center">

                        <div class="panel " style="border-color:#336666">
                            <div class="panel-heading" style ="color: #336666; background-color: #ff9933; border-color: #336666;" ><h4>Design</h4></div>
                            <div class="panel-body">
                                <!-- List group -->
                                <ul class="list-group">
                                    <p>Design(noun) - A plan for change from existing to desired situation. </p>
                                    <br>

                                    <p>Design(verb) - Processes through which designs are developed. </p>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">

                    <div class="col-md-offset-2 col-md-8 text-center">

                        <div class="panel " style="border-color:#336666">
                            <div class="panel-heading" style ="color: #336666; background-color: #ff9933; border-color: #336666;" ><h4>GEMS </h4></div>
                            <div class="panel-body">
                                <!-- List group -->
                                <ul class="list-group" style="text-align:left;" >
                                    <li class="list-group-item">Generate (G): <br>This involves bringing for the first time an outcome into a problem solving episode. This can

be generating requirements (GR), or generating solutions (GS). </li>
                                    <li class="list-group-item">Evaluate (E):<br> This involves checking the worth of an outcome, individually or in comparison to other

alternatives. This can be evaluating requirements (GE), or evaluating solutions (ES). </li>
                                    <li class="list-group-item">Modify (M):<br> This involves changing the outcome to make it better. This can be modifying requirements

(MR), or modifying solutions (MS). </li>
                                    <li class="list-group-item">Select (S): <br>
                                        This involves selecting whether to accept or reject an outcome. This can be selecting

requirements (GR), or selecting solutions (GS).</li>

                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">

                    <div class="col-md-offset-2 col-md-8 text-center">

                        <div class="panel " style="border-color:#336666">
                            <div class="panel-heading" style ="color: #336666; background-color: #ff9933; border-color: #336666;" ><h4>Phases of Life Cycle</h4></div>
                            <div class="panel-body">
                                <!-- List group -->
                                <ul class="list-group" style="text-align:left;">
                                    <li class="list-group-item">Materials <br> This phase involves the processes with which the materials that are used in the system

are made (e.g. from soil in the earth to steel for use). Each such process variously impacts the ecology,

economy and society, influencing their sustainability. </li>
                                    <li class="list-group-item">Production <br>This phase involves the processes with which the physical objects used in the

system are made (e.g. from steel to steel shaft and bolts and their assembly). Each such process variously

impacts the ecology, economy and society, influencing their sustainability. </li>
                                    <li class="list-group-item">Distribution <br> This phase involves the processes with which the objects that are used in

the system are transported and stored at the interface of various processes (e.g. from factory to

warehouse, from warehouse to sales points, from sales points to user locations, from user locations to

EOL units, etc.). Each such process variously impacts the ecology, economy and society, influencing their

sustainability. </li>
                                    <li class="list-group-item">Use <br> This phase involves the processes with which the system developed is used, maintained and

repaired during use (e.g. installation, inspection, use, maintenance, repair, etc.). Each such process

variously impacts the ecology, economy and society, influencing their sustainability.</li>
                                    <li class="list-group-item">After use <br> This phase involves the processes with which the system is processes during its end of

useful life (e.g. disposal, reuse of parts, recycle of materials etc.). Each such process variously impacts the

ecology, economy and society, influencing their sustainability.</li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">

                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-offset-2 col-md-8 text-center">

                            <div class="panel panel-success" style="text-justify: auto">
                                <div class="panel-heading" style ="color: #336666; background-color: #ff9933;; border-color: #336666;"><h4>Stages of Design</h4></div>
                                <div class="panel-body" style="text-align: left;">

<p> Design process involves undergoing an iterative process involving four broad design stages:
<ul class="list-group  " style="text-align:left;">
                                    <li class="list-group-item" style="text-justify: auto">Task Clarification (TC): This stage begins with the problem brief, and ends with these deliverables: <br>(1) a list of requirements, often qualitative with some understanding of their relative importance, often
qualitative;<br>(2) some ideas of how to solve the design problem, noted down for further use.</li>
                                    <li class="list-group-item" style="text-justify: auto">Conceptual design (CD): This stage begins with the deliverables from TC and ends with these deliverables:
<br>(1) A more concrete list of requirements; <br>(2) A list of possible solution principles that could be used to
solve the problem (i.e. satisfy these requirements); <br>(3) an evaluation of these principles for their
suitability to satisfy these requirements; <br>(4) the principle selected as the most promising for further
development. </li>
                                    <li class="list-group-item">Embodiment Design (ED): This stage begins with the deliverables from CD and ends with these
deliverables: <br> (1) A more concrete list of requirements; <br>(2) A list of possible solution feasible configurations
that could be used to embody the solution principle;<br> (3) an evaluation of these configurations for their
suitability to satisfy the requirements;<br> (4) the configuration selected as the most promising for further
development. </li>
                                    <li class="list-group-item">Detail design (DD): This stage begins with the deliverables from ED and ends with these deliverables:<br> (1) A
more concrete and finalised list of requirements; <br>(2) A list of possible optimised solution configurations

for the chosen embodiment from ED; <br>(3) an evaluation of these configurations for their suitability to

satisfy the requirements;<br> (4) specification of the optimised configuration selected as the final design ready

for implementation/manufacturing.</li>

                                </ul>

                                    <hr>


                                </div>
                            </div>
                        </div>
                        <!-- /header-text -->
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" style = "color: #336699"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" style = "color: #336699"></span>
                </a>
            </div>
            <!-- /carousel -->
        </div>


    </div>
    </div>

{% endblock %}
