{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block stylesheets %}
    <style>
        /* ------------------- Carousel Styling ------------------- */

        .carousel-inner {
            border-radius: 15px;
        }

        .carousel-caption {
            background-color: #336699;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            padding: 0 0 10px 25px;
            color: #fff;
            text-align: left;
        }

        .carousel-indicators {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            z-index: 15;
            margin: 0;
            padding: 0 25px 25px 0;
            text-align: right;
        }

        .carousel-control.left,
        .carousel-control.right {
            background-image: none;
        }


    </style>
{% endblock %}

{% block content %}


    <div class="container">

    <div class="row">

        <div class="col-md-offset-3 col-md-6">
            <h2>Concepts of Design and Sustainability </h2>
        </div>
    </div>
    <hr>
    <div class="row">

        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" >
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-offset-2 col-md-8 text-center">

                            <div class="panel" style="border-color:#336666">
                                <div class="panel-heading" style ="color: #336666; background-color: #f5f5f5; border-color: #336666;">Design</div>
                                <div class="panel-body">
                                    <p>Design(noun) - A plan for change from existing to desired situation. </p>
                                    <br>

                                    <p>Design(verb) - Processes through which designs are developed. </p>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-offset-2 col-md-8 text-center">

                            <div class="panel "style="border-color:#336666">
                                <div class="panel-heading"style ="color: #336666; background-color: #f5f5f5; border-color: #336666;">Design</div>
                                <div class="panel-body">
                                    <p>Design(noun) - A plan for change from existing to desired situation. </p>
                                    <br>

                                    <p>Design(verb) - Processes through which designs are developed. </p>

                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- /header-text -->
                </div>

                <div class="item">

                    <div class="col-md-offset-2 col-md-8 text-center">

                        <div class="panel " style="border-color:#336666">
                            <div class="panel-heading" style ="color: #336666; background-color: #f5f5f5; border-color: #336666;" ><h3>Phases of Life Cycle</h3></div>
                            <div class="panel-body">
                                <!-- List group -->
                                <ul class="list-group">
                                    <li class="list-group-item">Materials (Mat)</li>
                                    <li class="list-group-item">Production (Prd)</li>
                                    <li class="list-group-item">Distribution (Dst)</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">

                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-offset-2 col-md-8 text-center">

                            <div class="panel panel-success">
                                <div class="panel-heading" style ="color: #336666; background-color: #f5f5f5; border-color: #336666;"><h3>Stages of Design</h3></div>
                                <div class="panel-body">

<p> Design process involves undergoing an iterative process involving four broad design stages:

 Task Clarification (TC): This stage begins with the problem brief, and ends with these deliverables: (1) a list

of requirements, often qualitative with some understanding of their relative importance, often

qualitative; (2) some ideas of how to solve the design problem, noted down for further use.

 Conceptual design (CD): This stage begins with the deliverables from TC and ends with these deliverables:

(1) A more concrete list of requirements; (2) A list of possible solution principles that could be used to

solve the problem (i.e. satisfy these requirements); (3) an evaluation of these principles for their

suitability to satisfy these requirements; (4) the principle selected as the most promising for further

development.

 Embodiment Design (ED): This stage begins with the deliverables from CD and ends with these

deliverables: (1) A more concrete list of requirements; (2) A list of possible solution feasible configurations

that could be used to embody the solution principle; (3) an evaluation of these configurations for their

suitability to satisfy the requirements; (4) the configuration selected as the most promising for further

development.

 Detail design (DD): This stage begins with the deliverables from ED and ends with these deliverables: (1) A

more concrete and finalised list of requirements; (2) A list of possible optimised solution configurations

for the chosen embodiment from ED; (3) an evaluation of these configurations for their suitability to

satisfy the requirements; (4) specification of the optimised configuration selected as the final design ready

for implementation/manufacturing.</p>
                                    <hr>


                                </div>
                            </div>
                        </div>
                        <!-- /header-text -->
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- /carousel -->
        </div>


    </div>
    </div>

{% endblock %}
