
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h3> Design Stage - Embodiment Design</h3>
          <h3> Activity - Generate, Evaluate, Modify, Select</h3>

         <br>
        <p>

Integrate these to generate alternative solution embodiments (GS/MS): What are the possible embodiments of these ideas to develop complete configurations to the principle? Are there additional elements needed to put these together?
         </p>

     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}