
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h3> Design Stage - Embodiment Design</h3>
          <h3> Activity - Evaluate, Select (ES/SS) </h3>

         <br>
        <p>
            This stage begins with the deliverables from CD and ends with these deliverables: (1) A more concrete list of requirements; (2) A list of possible solution feasible configurations that could be used to embody the solution principle; (3) an evaluation of these configurations for their suitability to satisfy the requirements; (4) the configuration selected as the most promising for further development.
         </p>


     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}