
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h4> Design Stage - Embodiment Design</h4>
          <h4> Acitvity - Generate, Select (GS)</h4>


         <p>Develop alternative, concrete configurations of the sub-systems/parts for the solution principle chosen in CD (GS): How can each subsystem/part of the solution principle be embodied? What are the other ways it can be embodied?</p>


     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}