
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h4> Design Stage - Embodiment Design</h4>
          <h4> Activity - Evaluate, Select, Modify (ES/MS)</h4>


        <p>Evaluate these alternatives to select the most promising solution embodiment (ES/SS): Which of the combinations best satisfy the requirements? Which of these is the most feasible? </p>



     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}