
{% load static %}
{% block stylesheets %}
    <style xmlns="http://www.w3.org/1999/html">

    </style>

{% endblock %}
<div class="row">
<div class="col-md-11">
<div class="row">
     <div class="col-lg-11">
          <h4> Design Stage - Embodiment Design</h4>
    <p>This stage begins with the deliverables from Conceptual Design and ends with these deliverables: </p>
         <ol>
         <li> A more concrete list of requirements </li>
         <li> A list of possible solution feasible configurations that could be used to embody the solution principle </li>
         <li> An evaluation of these configurations for their suitability to satisfy the requirements </li>
         <li>The configuration selected as the most promising for further development. </li>
         </ol>
     </div>
    </div>

</div>

</div>

{% block scripts %}




{% endblock %}